.nav {
    list-style: none;

    > li {

        &,
        > a {
            display: inline-block;
        }
    }
}

.nav--stacked {

    > li {
        display: list-item;

        > a {
            display: block;
        }
    }
}

.breadcrumb > li + li:before {
    content: "\00BB" "\00A0";
}

.breadcrumb--path > li + li:before {
    content: "\002F" /* "\00A0" */;
}

.breadcrumb__root {
    font-weight: bold;
}
