.page-content {
    margin-bottom: 4rem;
}

.heading__sub {
    display: block;
    font-size: 0.6em;
    font-weight: normal;
}

.note {
    position: relative;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -2.5rem;
        color: #b31809;
        content: "\A0" "\2F" "\21" "\5C";
    }
}

.keyword-list {
    list-style: none;

    > li {

        > [class^="function-"] {
            font-weight: bold;
        }
    }
}

.function-star           { color: #3C83FC; }
.function-bus            { color: #8400FF; }
.function-cycle          { color: #0084FF; }
.function-circle         { color: #196E03; }
.function-binary-tree    { color: #0047FC; }
.function-complete-graph { color: #FF8400; }
.function-grid           { color: #FF2200; }
.function-toroid         { color: #89D900; }

.ngrams {
    list-style: none;

    > li {
        display: inline-block;
        width: 12.5%;
    }
}

.ngrams__entity {
    font-weight: bold;
}
