table {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;

    th,
    td {
        border: 1px solid #000;
        padding: 2px 10px;
    }

    td {
        text-align: center;
    }

    .left-cell {
        text-align: left;
        font-weight: bold;
    }

    [data-cell="zero"] {
        color: #aaa;
    }

    [data-cell="one"] {
        color: #b31809;
        font-weight: bold;
    }
}

.align-left td {
    text-align: left;
}

.align-center td {
    text-align: center;
}

.align-right td {
    text-align: right;
}

.col-1 {

    &-right {

        td:first-child {
            text-align: right;
        }
    }

    &-left {

        td:first-child {
            text-align: left;
        }
    }

    &-center {

        td:first-child {
            text-align: center;
        }
    }
}

.hex-table {
    color: #000;
    display: table;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-left: auto;
}

.byte {
    padding: 0 2px;
}

.selection { background-color: #15a2f9; }
.selection--sub { background-color: #89d0fc; }
.cp { background-color: #D66C5C; }
.ver { background-color: #D2964B; }
.ht { background-color: #D2C74B; }
.gp { background-color: #4A9F28; }
.bsn { background-color: #2AA79F; }
.psn { background-color: #a56cda; }
.chk { background-color: #C868D9; }
.ps { background-color: #8DE290; }
.st { background-color: #C4C4C4; }

.key {
    margin-top: 1.5rem;
}
