.toc {

    &,
    ol {
        list-style: none;
    }

    ol {
        padding-left: 0;
        margin-bottom: 0;
    }

    &:before {
        content: "\2E";
    }

    > li:before {
        content: "\251C" "\2500" "\2500" "\20";
    }

    > li:last-child:before {
        content: "\2514" "\2500" "\2500" "\20";
    }

    > li > ol > li:before {
        content: "\2502" "\A0" "\A0" "\A0" "\251C" "\2500" "\2500" "\20";
    }

    > li > ol > li:last-child:before {
        content: "\2502" "\A0" "\A0" "\A0" "\2514" "\2500" "\2500" "\20";
    }

    > li:last-child > ol > li:before {
        content: "\A0" "\A0" "\A0" "\A0" "\251C" "\2500" "\2500" "\20";
    }

    > li:last-child > ol > li:last-child:before {
        content: "\A0" "\A0" "\A0" "\A0" "\2514" "\2500" "\2500" "\20";
    }
}

@media only screen and (max-width: 700px) {
    .toc {

        &,
        ol {
            list-style: initial;
        }

        &:before,
        *:before {
            content: "" !important;
        }
    }
}
