html {
    font: 1em/1.5 Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    color: #333;
    background-color: #fefefe;
    overflow-y: scroll;
    min-height: 100%;
}



/**
 * Headings
 */
h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}



/**
 * Links
 */
a {
    color: #b31809;

    &:hover,
    &:active,
    &:focus {
        color: #821107;
    }

    &:hover,
    &:active {
        outline: 0;
    }

}
