/**
 * IE6 was right!
 */
*, *:before, *:after {
    box-sizing: border-box;
}



/**
 * Reset some basic elements
 */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, hr,
figure {
    margin: 0;
    padding: 0;
}

// Specificity-hack to trump MathJax styles
.MJXc-display.MJXc-display {
    margin: 0;
}



/**
 * Set `margin-bottom` to maintain vertycal rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, ol, ul, table,
figure, audio,
%vertical-rhythm,
.MJXc-display.MJXc-display {
    margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 3rem;
}



/**
 * Wrapper
 */
.wrapper {
    margin-right: auto;
    margin-left: auto;

    > :last-child {
        margin-bottom: 0;
    }

    @media only screen and (min-width: $content-width) {
        max-width: $content-width;
    }

    @media only screen and (min-width: $wide-content-width) {
        max-width: $wide-content-width;
    }

    @media only screen and (max-width: $wide-content-width) {
        padding-right: 5%;
        padding-left: 5%;
    }
}



/**
 * Clearfix
 */
.clearfix,
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Lists
 */
ul, ol, dl {
    margin-left: 40px;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

dl {
    margin-left: 0;
}

dt, dd {
    display: inline;
}

dt:after {
    content: ": ";
}

dd:after {
    content: "\A";
    white-space: pre;
}



/**
 * Images
 */
img {
    max-width: 100%;
}

img, svg {
    vertical-align: middle;
}

.img--right {
    float: right;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;

    figure > & {
        margin-bottom: 0;
    }
}

.img--left {
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;

    figure > & {
        margin-bottom: 0;
    }
}

.img--center {
    display: block;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-left: auto;
}



/**
 * Audio
 */
audio {
    vertical-align: middle;
    width: 100%;
}



/**
 * Figures
 */
figure {

    > img {
        display: block;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
    }

    > img,
    > audio {
        display: block;
    }

    > audio,
    > pre {
        margin-bottom: 0;
    }
}

body {
    counter-reset: figureCount;
}

figcaption {
    counter-increment: figureCount;
    font-size: 0.9em;
    padding: 0.25rem 0.75rem;

    > * {
        margin-bottom: 0;
    }

    > .MJXc-display:last-of-type {
        margin-bottom: 0;
    }
}

figcaption::before {
    content: "fig. " counter(figureCount) ": ";
    font-style: italic;
}

figcaption.larger{
    font-size: larger;
}

.fig--full {
    @extend %clearfix;
    position: relative;
    margin-right: -350px;
    margin-left: -350px;
}



/**
 * Rulers
 */
hr {
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 29px;
}



/**
 * Quotes
 */
.quote {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-left: 3px solid #b31809;

    > p {

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.quote__body {
    font-size: 1.5em;
    font-style: italic;
}

.quote__body > p:first-of-type::before {
    content: "“";
}

.quote__body > p:last-of-type::after {
    content: "”";
}

.quote__source:before {
    content: "\2014";
}



/**
 * Code
 */
pre, code, kbd, var {
    font-family: Consolas, "Courier New", Courier, monospace;
}

pre {
    background-color: #f1f1f1;
    padding: 0.25rem 0.5rem;
    overflow-x: scroll;
}

.ascii-block {
    font-family: Consolas, "Courier New", Courier, monospace;
    line-height: 1.3;
}

code {
    white-space: pre;

    pre > & {
        border: 0;
        border-radius: 0;
        display: block;
        background-color: inherit;
        padding: 0;
    }
}

code,
kbd {
    color: #666;
}

kbd {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

var {
    font-style: normal;
    font-weight: bold;
}



/**
 * Inline
 */
abbr[title] {
    border-bottom: 1px dotted;
}
