.nav {
    list-style: none;
    margin-left: 0;

    > li {

        &,
        > a {
            display: inline-block;
        }
    }
}

.nav--block {

    > li {

        &:not(:last-child) {
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }

        > a {
            padding: 0.25rem 1.25rem;
            border-radius: 4px;
            color: #fff;
            background-color: $ui-color;
            font-size: 1.5em;
            font-weight: bold;
            text-decoration: none;

            @include attention() {
                background-color: $ui-color-dark;
            }
        }
    }
}

.nav--stacked {

    > li {
        display: list-item;

        > a {
            display: block;
        }
    }
}



/**
 * Breadcrumb navigation
 */
.breadcrumb {
    margin-top: 4rem;
    margin-bottom: 4rem;

    > li + li:before {
        content: "\00BB" "\00A0";
    }

    &__root {
        font-weight: bold;
    }
}

.breadcrumb--path {

    > li + li:before {
        content: "/";
    }
}



/**
 * Pagination
 */
.pagination {
    list-style: none;
    margin-left: 0;
    overflow: auto;

    > li {
        display: inline-block;
    }

    &__prev {
        float: left;

        &:before {
            content: "\2190" "\A0";
        }
    }

    &__next {
        float: right;

        &:after {
            content: "\A0" "\2192";
        }
    }
}
