.page-content {
    margin-bottom: 4rem;
}

.heading__sub {
    display: block;
    font-size: 0.6em;
    font-weight: normal;
}

.note {
    @extend %vertical-rhythm;
    position: relative;
    padding: 15px;

    &::before {
        float: left;
    }

    code {
        background-color: #fff;
    }
}

@media only screen and (min-width: $content-width) {
    .note {
        padding-left: 0;

        &::before {
            float: none;
            position: absolute;
            top: 0;
            right: 100%;
            height: 100%;
            padding-left: 15px;
        }

        &,
        &::before {
            padding-top: 15px;
        }
    }
}

.note--info {

    &::before {
        color: $info-color-dark;
        content: "\1F481" "\A0";
        font-size: 30px;
    }

    &,
    &::before {
        background-color: $info-color-light;
    }
}

.note--warning {

    &::before {
        color: $warning-color-dark;
        content: "\2f" "\21" "\5c" "\a0";
        font-size: 20px;
    }

    &,
    &::before {
        background-color: $warning-color-light;
    }
}

.keyword-list {
    list-style: none;

    > li {

        > span[class^="function-"] {
            font-weight: bold;
        }
    }
}

.function-star           { color: #3c83fc; }
.function-bus            { color: #8400ff; }
.function-cycle          { color: #0084ff; }
.function-circle         { color: #196e03; }
.function-binary-tree    { color: #0047fc; }
.function-complete-graph { color: #ff8400; }
.function-grid           { color: #ff2200; }
.function-toroid         { color: #89d900; }

.ngrams {
    list-style: none;

    > li {
        display: inline-block;
        width: 12.5%;
    }
}

.ngrams__entity {
    font-weight: bold;
}
