.toc {

    &,
    ol {
        margin-left: 1rem;
        list-style-type: disc;
    }

    ol {
        margin-bottom: 0;
    }

    a {
        text-decoration: none;
    }
}

.toc__text {
    text-decoration: underline;
}

@media only screen and (min-width: 680px) {
    .toc {
        line-height: 1.3;

        &,
        ol {
            list-style: none;
            margin-left: 0;
        }

        ol {
        }

        &:before {
            content: "\2E";
        }

        > li:before {
            content: "\251C" "\2500" "\20";
        }

        > li:last-child:before {
            content: "\2514" "\2500" "\20";
        }

        > li > ol > li:before {
            content: "\2502" "\A0" "\A0" "\251C" "\2500" "\20";
        }

        > li > ol > li:last-child:before {
            content: "\2502" "\A0" "\A0" "\2514" "\2500" "\20";
        }

        > li:last-child > ol > li:before {
            content: "\A0" "\A0" "\A0" "\251C" "\2500" "\20";
        }

        > li:last-child > ol > li:last-child:before {
            content: "\A0" "\A0" "\A0" "\2514" "\2500" "\20";
        }
    }
}
