$text-color: #333;
$background-color: #fefefe;

// $ui-color: #b31809;
$ui-color: #db3a34;
$ui-color-dark: darken($ui-color, 20%);
$ui-color-light: lighten($ui-color, 42%);

$info-color: #6ecf9e;
$info-color-dark: darken($info-color, 25%);
$info-color-light: lighten($info-color, 27%);

$warning-color: #ddbc3c;
$warning-color-dark: darken($warning-color, 22%);
$warning-color-light: lighten($warning-color, 27%);

$gray-color: #aaa;
$gray-color-light: lighten($gray-color, 25%);

$wide-content-width: 1200px;
$content-width: 800px;
